@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";


$large-breakpoints: (
  xxl: 1400px,
  xxxl: 1600px,
);
$breakpoints: map-merge($grid-breakpoints, $large-breakpoints);

$sections: (
  "header": (
    "default-x": map-get($spacers, 3),
    "default-y": map-get($spacers, 2),
    "breakpoints": (
      md: (
        "x": map-get($spacers, 5),
        "y": map-get($spacers, 3),
      ),
      lg: (
        "x": (map-get($spacers, 5) * 1.5),
      ),
    ),
  ),
  "game": (
    "default-x": map-get($spacers, 3),
    "default-y": map-get($spacers, 3),
    "breakpoints": (
      md: (
        "x": map-get($spacers, 5),
        "y": map-get($spacers, 5),
      ),
      lg: (
        "x": (map-get($spacers, 5) * 5),
      ),
      xl: (
        "x": (map-get($spacers, 5) * 6),
      ),
      xxl: (
        "x": (map-get($spacers, 5) * 8),
      ),
      xxxl: (
        "x": (map-get($spacers, 5) * 10),
      ),
    ),
  ),
  "footer": (
    "default-x": map-get($spacers, 3),
    "default-y": map-get($spacers, 5),
    "breakpoints": (
      md: (
        "x": map-get($spacers, 5),
      ),
      lg: (
        "y": (map-get($spacers, 5) * 1.5),
        "x": (map-get($spacers, 5) * 5),
      ),
      xl: (
        "x": (map-get($spacers, 5) * 6),
      ),
      xxl: (
        "x": (map-get($spacers, 5) * 8),
      ),
      xxxl: (
        "x": (map-get($spacers, 5) * 10),
      ),
    ),
  ),
);

@mixin padding-x($val) {
  padding-left: $val;
  padding-right: $val;
}

@mixin padding-y($val) {
  padding-top: $val;
  padding-bottom: $val;
}

@mixin app-spacing($section) {
  $section-spacing: map-get($sections, $section);

  @include padding-x(map-get($section-spacing, "default-x"));
  @include padding-y(map-get($section-spacing, "default-y"));

  @each $bp, $spacing in map-get($section-spacing, "breakpoints") {
    @include media-breakpoint-up($bp, $breakpoints) {
      $x: map-get($spacing, "x");
      $y: map-get($spacing, "y");

      @if $x != null {
        @include padding-x($x);
      }
      @if $y != null {
        @include padding-y($y);
      }
    }
  }
}