$textColor: #1A202C;
$bgColor: #ffffff;

$accent1: #FC8181;
$accent2: #F56565;

$primary1: #E6FFFA;
$primary2: #B2F5EA;
$primary3: #81E6D9;
$primary4: #4FD1C5;
$primary5: #38B2AC;

// $secondary1: ;
$neutral1: #F7FAFC;
$neutral2: #EDF2F7;
$neutral3: #E2E8F0;
$neutral4: #CBD5E0;
