// dark colors
// $textColor: #FFFFFF;
// $bgColor: #2D3748;
//
// $accent1: #4FD1C5;
// $accent2: #4FD1C5;
//
// $primary1: #553C9A;
// $primary2: #6B46C1;
// $primary3: #805AD5;
// $primary4: #9F7AEA;
// $primary5: #B794F4;
//
// // $secondary1: ;
// $neutral1: #1A202C;
// $neutral2: #1A202C;
// $neutral3: #1A202C;
// $neutral4: #4A5568;

// light colors
$textColor: #1A202C;
$bgColor: #ffffff;

$accent1: #FC8181;
$accent2: #F56565;

$primary1: #E6FFFA;
$primary2: #B2F5EA;
$primary3: #81E6D9;
$primary4: #4FD1C5;
$primary5: #38B2AC;

// $secondary1: ;
$neutral1: #F7FAFC;
$neutral2: #EDF2F7;
$neutral3: #E2E8F0;
$neutral4: #CBD5E0;
