@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import './_colors.scss';


.react-logo {
  text-align: center;

  .logo {
    height: 10vh;
    pointer-events: none;

    @include themed() {
      filter: t('logoFilter')
    }
  }

  // Logo animation CSS
  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.pill-toe-icons {
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: left;
  } 

  .tic-tac {
    height: 8vh;
  }
  
  .toe {
    height: 10vh;
  }
}

h2.made-by {
  font-size: 1.25rem;
  margin-bottom: 0;
  padding-bottom: map-get($spacers, 1);
}

.footer {
  width: 100%;
  padding: map-get($spacers, 5) map-get($spacers, 3);

  @include media-breakpoint-up(md) {
    padding: map-get($spacers, 5);
    display: inline-flex;
    justify-content: space-between;
  }

  @include media-breakpoint-up(lg) {
    padding-top: (map-get($spacers, 5) * 1.5);
    padding-left: (map-get($spacers, 5) * 1.5);
    padding-right: (map-get($spacers, 5) * 1.5);
  }

  .react-logo {
    margin-top: map-get($spacers, 3);

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }

  a.react-home {
    @include react-color;
    font-weight: 800;
    font-size: 1.25em;
    text-decoration: none !important;
  }

  @include themed() {
    background-color: t('neutral1');

    a.react-home:hover {
      text-decoration: solid underline t('primary3') 3px !important;
    }
  }
}