@import './_colors.scss';
@import './_spacing.scss';


.react-logo {
  text-align: center;

  .logo {
    height: 5rem;
    pointer-events: none;

    @include themed() {
      filter: t('logoFilter')
    }
  }

  // Logo animation CSS
  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.pill-toe-icons {
  text-align: center;

  .tic-tac {
    height: 3rem;
  }
  
  .toe {
    height: 3.75rem;
  }

  @include media-breakpoint-up(md) {
    text-align: left;
  } 
}

h2.made-by {
  font-size: 1.25rem;
  margin-bottom: 0;
  padding-bottom: map-get($spacers, 1);
}

.footer {
  width: 100%;

  @include app-spacing("footer");

  @include media-breakpoint-up(md) {
    display: inline-flex;
    justify-content: space-between;
  }

  .react-logo {
    margin-top: map-get($spacers, 5);

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }

  a.react-home {
    @include react-color;
    font-weight: 800;
    font-size: 1.25em;
    text-decoration: none !important;
  }

  @include themed() {
    background-color: t('neutral1');

    a.react-home:hover {
      text-decoration: solid underline t('primary3') 3px !important;
    }
  }
}