@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/_navbar";
@import "node_modules/bootstrap/scss/_custom-forms";

@import './_colors.scss';
@import './_spacing.scss';


.tic-tac-toe {
  height: 3rem;
}

a.navbar-ttt {
  @extend .navbar-brand;

  text-decoration: none !important;
  font-weight: 800;
  font-size: 1.5em;

  .tic-tac-toe {
    display: inline-block;
    margin-right: map-get($spacers, 2);
  }

  .navbar-ttt-title {
    display: none;

    @include media-breakpoint-up(md) {
      display: inline;
    }  
  }

  @include themed() {
    &:hover {
      text-decoration: solid underline t('primary2') 3px !important;

      .tic-tac-toe {
        filter: t('logoFilter');
      }
    }
  }
}

.theme-switch {
  display: flex;

  @include themed() {
    .custom-switch { 
      .custom-control-label::before {
        background-color: t('accent1');
        border-color: t('accent2');
      }

      .custom-control-label::after {
        background-color: t('bgColor');
      }

      .custom-control-input:focus~.custom-control-label::before {
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(t('accent2'), .25);
      }
    }

    .custom-control-input:active~.custom-control-label::before{
      background-color: lighten(t('accent1'), 10%);
      border-color: lighten(t('accent2'), 10%);
    }

    .octicon {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: map-get($spacers, 2);
      fill: lighten(t('accent1'), 10%);
    }
  }
}

.header {
  @include app-spacing("header");

  .navbar {
    padding: 0;
  }

  @include themed() {
    border-bottom: 1px solid t('neutral3');
  }
}