@import url('https://fonts.googleapis.com/css2?family=Unica+One&family=Open+Sans:wght@300;400;600;700;800&family=Permanent+Marker&display=swap');
@import './colors.scss';

body {
  font: 16px "Open Sans", sans-serif;
  color: $textColor;
  background-color: $bgColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: auto;
}

a {
  color: inherit;
  text-decoration: solid underline $primary2 3px;
}
a:hover {
  color: $primary4;
  text-decoration: solid underline $primary2 3px;
}

h1 {
  font-family: 'Unica One', cursive;
  font-size: 4em;
}

h2,
.made-by {
  color: $accent1;
  font-weight: 800;
  font-size: 1.75em;
  text-transform: lowercase;
}
.made-by {
  font-size: 1.25rem;
}

a.navbar-brand {
  text-decoration: none;
}
a.navbar-brand:hover {
  text-decoration: solid underline $primary2 3px;
}
.navbar-brand {
  color: $textColor !important;
  font-weight: 800;
  font-size: 1.5em;
}
.react-js {
  color: $primary4;
}

.header {
  /* border-bottom: 1px solid #1A202C; */
  border-bottom: 1px solid $neutral3;
}

#root {
  position: relative;
  min-height: 100vh;
}

.page {
  /* for Bootstrap4 xs breakpoints and up */
  padding-bottom: 48vh;
}

.footer {
  /* border-top: 1px solid #1A202C; */
  background-color: $neutral1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48vh;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: $textColor;
  background: $bgColor;
  border: 2px solid $neutral3;
  float: left;
  line-height: 5.5rem;
  height: 5.5rem;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 5.5rem;
}
.square:focus {
  outline: none;
}
.kbd-navigation .square:focus {
  background: #ddd;
}
.square.winner {
  background-color: $primary1;
  color: $primary5;
}

.move.current {
  font-weight: bold;
}
.move-position {
  font-weight: 300;
}

ol.moves {
  list-style: none;
  counter-reset: li;
}
ol.moves > li::before {
  content: counter(li);
  color: $neutral4;
  font-size: 1.5em;
  display: inline-block;
  width: 1.5em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}
ol.moves > li {
  counter-increment: li;
}

.btn {
  border-radius: 0;
}
.btn.btn-outline-info {
  color: $textColor;
  border: 3px solid $primary2;
}
.btn.btn-outline-info:hover {
  color: $textColor;
  border-color: $primary2;
  background-color: $primary2;
}
.btn.btn-outline-info:active:focus {
  color: $textColor;
  border-color: $primary2;
  background-color: $primary1;
}
.btn.btn-outline-info:disabled {
  color: $accent2;
  border-color: $neutral3;
}
.btn.btn-outline-info:disabled:hover {
  background: none;
}

.sort.btn:hover {
  background: none;
  text-decoration: solid underline $primary2 3px;
}

.tic-tac-toe {
  height: 7vh;
}
.tic-tac {
  height: 8vh;
}
.toe {
  height: 10vh;
}

.react-home {
  color: $primary4;
  font-weight: 800;
  font-size: 1.25em;
  text-decoration: none;
}
.react-home:hover {
  color: $primary5;
  text-decoration: solid underline $primary3 3px;
}

/* Logo animation CSS */
.logo {
  height: 10vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Bootstrap4 md breakpoint */
@media (min-width: 768px) {
  .page {
    padding-bottom: 28vh;
  }
  .footer {
    height: 28vh;
  }
}
