@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import './_colors.scss';


.move.current {
  font-weight: bold;
}

.move-position {
  font-weight: 300;
}

ol.moves {
  list-style: none;
  counter-reset: li;
  padding-left: 1rem;

  & > li::before {
    content: counter(li);
    font-size: 1.5em;
    display: inline-block;
    width: 1.5em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl;

    @include themed() {
      color: t('neutral4');
    }
  }

  & > li {
    counter-increment: li;
    margin-bottom: .5rem;
  }
}

@include media-breakpoint-up(md) {
  .move-list {
    display: flex;
    flex-direction: column;
    height: 85%;

    button {
      align-self: flex-start;
    }
  }

  .moves {
    flex: 1;
  }
}