@import url('https://fonts.googleapis.com/css2?family=Unica+One&family=Open+Sans:wght@300;400;600;700;800&family=Permanent+Marker&display=swap');

body {
  font: 16px "Open Sans", sans-serif;
  color: #1A202C;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: auto;
}

h1 {
  font-family: 'Unica One', cursive;
  font-size: 4em;
}

h2 {
  color: #FC8181;
  font-weight: 800;
  font-size: 1.75em;
  text-transform: lowercase;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 4em;
  font-weight: bold;
  background: #fff;
  border: 2px solid #E2E8F0;
  float: left;
  line-height: 5.5rem;
  height: 5.5rem;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 5.5rem;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.square.winner {
  background-color: #E6FFFA;
  color: #38B2AC;
}

.move.current {
  font-weight: bold;
}

ol.moves {
  list-style: none;
  counter-reset: li;
}
ol.moves > li::before {
  content: counter(li);
  color: #CBD5E0;
  font-size: 1.5em;
  display: inline-block;
  width: 1.5em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}
ol.moves > li {
  counter-increment: li;
}

.btn {
  border-radius: 0;
}

.btn.btn-outline-info {
  color: #1A202C;
  border: 3px solid #B2F5EA;
}
.btn.btn-outline-info:hover {
  color: #1A202C;
  border-color: #B2F5EA;
  background-color: #B2F5EA;
}
.btn.btn-outline-info:active:focus {
  color: #1A202C;
  border-color: #B2F5EA;
  background-color: #E6FFFA;
}
.btn.btn-outline-info:disabled {
  color: #F56565;
  border-color: #E2E8F0;
}
.btn.btn-outline-info:disabled:hover {
  background: none;
}

.sort.btn:hover {
  background: none;
  text-decoration: solid underline #B2F5EA 3px;
}
